*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: olivedrab;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.root{
    azul: #0a0ddd;
    azul-claro: #0cdee6;
    roxo: #bf57f0;
    roxo-claro: #a46ff8;
 
 }
 
 .header {
     display: flex;
     width: 100%;
     background-color: var(--azul-claro);
     padding: irem;
     position: relative;
     justify-self: center;
 
     
 }
 .menu-disciplina {
     width: 20%;
     display: inline-block;
 }
 
 .botao-disciplinas{
     cursor: pointer;
     font-size: 2rem;
     background: none;
     background-color: var(--azul);
     border: none;
     padding: 1.05rem 1.5rem;
     color: var(--roxo-claro);
 }
 #menu-toggle{
     display: none;
 }
 .lista-vertical{
     display: none;
     position: absolute;
     background-color: var(--roxo);
     box-shadow: 0 2px 5px var(--azul-claro);
     min-width: 190px;
     z-index: 1;
     left: 1rem;
     top: 100%;
 }


.lista-vertical a {
    color: #0a0ddd;
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    text-align: center;
}


.lista-vertical a:hover {
    background-color: var(--roxo-claro);
}


#menu-toggle:checked ~ .lista-vertical {
    display: block;
}
#menu-toggle:checked + .botao-disciplinas {
    background-color: var(--azul-claro);
}

